/*
'Non-critical' styles, these can only be applied after a successful
render of the application
*/

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 1em;
  border: 1px solid var(--primary-600);
  border-radius: .25em;
}

details {
  padding: .5em 0;
}

form {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr  auto .5em;
  grid-template-columns: 4fr 1fr;
  grid-row-gap: 1em;
}

input[type="text"], textarea {
  padding: 1em;
  border: 1px solid var(--primary-600);
  border-radius: .25em;
  font-size: 1.2em;
  font-family: "Work Sans", sans-serif;
  grid-column: 1 / 3;
  background-color: var(--primary-700);
}

form label {
  font-size: 1.2em;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.todo {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
}

.todo__checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5rem;
  font-size: 1.2em;
  padding: .2em 0;
  align-items: baseline;
  order: 0;
}

.todo__edit {
  order: 1;
  display: grid;
  place-items: center;
}


.todo__edit svg {
  object-position: bottom;
}

.todo__notes {
  order: 2;
  grid-column: 1 / 4;
}

.todo__notes__inner {
  display: block;
  padding: .5em 0;
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
}

.checkbox__input > * {
  grid-area: checkbox;
}

.checkbox__input input {
  width: 1em;
  height: 1em;
  opacity: 0;
}

.checkbox__control {
  display: inline-grid;
  place-items: center;
  width: 1em;
  height: 1em;
  border-radius: .25em;
  border: .1em solid currentColor;
  background-color: var(--primary-700);
}

.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input input:checked
+ .checkbox__control svg {
  transform: scale(1);
}

.checkbox__input input:focus
+ .checkbox__control {
  box-shadow: 0 0 0 0.05em var(--white), 0 0 0.15em 0.1em var(--accent-200);
}

/* TODO: disabled state, focus states &tc */

.checkbox__label__text {
  display:inline;
  overflow: hidden;
  position: relative;
  padding-right: .2rem;
}

.checkbox__label__text::before {
  position: absolute;
  content: "";
  height: .1em;
  width: 100%;
  background-color: var(--primary-100);
  top: 50%;
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: left;
}

.checkbox__label.checked .checkbox__label__text::before {
  transform: scale(1);
}

.button--primary {
  display: inline-block;
  text-decoration: none;
  background-color: var(--accent-100);
  font-size: 1.2em;
  color: var(--white);
  padding: .2em .5em;
  margin: 0;
  border-radius: .25em;
  border-color: transparent;
  line-height: 1;
  font-weight: bold;
}

/* .button--primary:focus {
 box-shadow: 0 0 0 0.05em var(--white), 0 0 0.15em 0.1em var(--primary-200);
} */

.list {
  grid-column: 1 / 3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  height: fit-content;
}

.action {
  grid-column: 2 / 3;
}
